@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightblue;
}

#root {
  font-size: large;
}

// Top navigation bar

#newsNav {
  display: inline-flex;
  width: 53.5%;
  justify-content: flex-end;
}
#newsNav > span{
  padding-right: 2%;
  font-size: 1.5vw;
}

#accountNav {
  display: inline-flex;
  width: 46.5%;
  justify-content: flex-end;
}

#accountNav > span{
  padding-right: 2%;
  font-size: 1vw;
}

#announcementBar{
  margin-bottom: 10px;
}

// Category navigation bar

#catNav{
  display: flex;
  justify-content: center;
  font-size: 1vw;
  margin-bottom: 10px;
}

#catNav > span{
  padding-right: 2%
}

// Articles div

#articles{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 50px;
}

#artclBox{
  padding: 5px 5px 5px 5px;
  width: 350px; 
  height: 500px;
  border: 1px solid #e6e6e6;
  overflow-wrap: break-word; 
  overflow: hidden;
}

#artclBox > img {
  width: 85%;
  height: 30%;
  object-fit: cover;
  object-position: 0 0; // position image center and top down in the given width height
}
